/*Estilos Main*/
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

/*Estilos Footer*/
.redes-sociales {
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}
